<!DOCTYPE html>
<html>
<head>
    <title>Email Sender</title>
</head>
<body>

<h1>Email Sender 🚀</h1>

<form action="/send" method="POST">

    <input type="text" name="name" placeholder="Your Name" required>
    <br><br>

    <input type="email" name="gmail" placeholder="Your Gmail" required>
    <br><br>

    <input type="password" name="password" placeholder="Gmail App Password" required>
    <br><br>

    <textarea name="emails" rows="6" cols="50"
    placeholder="Emails (ek line me ek email ya comma se alag)" required></textarea>
    <br><br>

    <input type="text" name="subject" placeholder="Subject" required>
    <br><br>

    <textarea name="message" rows="6" cols="50"
    placeholder="Message" required></textarea>
    <br><br>

    <button type="submit">Send Emails</button>

</form>

</body>
</html>